<div id="container-header">
  <div class="container-logo">
    <img src="./assets/images/apple-logo.png" alt="apple icon" />
    <span>nu.products</span>
  </div>

  <div class="container-menu">
    <a routerLink="/">Home</a>
    <a routerLink="/contact">Contact</a>
    <a routerLink="/about-us">About</a>
  </div>

  <div class="container-options-account">
    <a routerLink="/login">Login</a>
    <span>|</span>
    <a routerLink="/signup">Signup</a>
  </div>
</div>

<!--
            *ngFor="let product of products"
            [value]="product.value"
            routerLink="/{{ product.viewValue.toLocaleLowerCase() }}"

 -->
