<app-header></app-header>
<div class="container-main">
  <div class="container-main-section-uno">
    <app-filter-options-advance></app-filter-options-advance>
  </div>
  <div class="container-main-section-dos">
    <app-filter-options-basic></app-filter-options-basic>
    <app-products-list></app-products-list>
  </div>
</div>
<app-form-create-product></app-form-create-product>
<app-home></app-home>
<app-about-us></app-about-us>
<app-footer-app></app-footer-app>
<router-outlet></router-outlet>
