<div class="container-home">
  <div class="container-info">
    <h1>Descubra los productos más asequibles</h1>
    <p>
      Encuentre aquí los mejores productos, confiables y asequibles. Nos
      centramos en la calidad del producto. Aquí puede encontrar todos los
      productos jamás fabricados. Incluso los productos dejaron de venderse
      oficialmente. Entonces, ¿por qué estás esperando? ¡Haz tu pedido ahora!
    </p>

    <div class="container-search">
      <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 512 512">
        <path
          fill="#3858D6"
          d="M416 208c0 45.9-14.9 88.3-40 122.7L502.6 457.4c12.5 12.5 12.5 32.8 0 45.3s-32.8 12.5-45.3 0L330.7 376c-34.4 25.2-76.8 40-122.7 40C93.1 416 0 322.9 0 208S93.1 0 208 0S416 93.1 416 208zM208 352a144 144 0 1 0 0-288 144 144 0 1 0 0 288z"
        />
      </svg>
      <div class="container-input-search">
        <input placeholder="Encuentra el mejor producto" />
      </div>
      <button class="button-search">Search</button>
    </div>
  </div>

  <div class="container-product-img">
    <img src="./assets/images/iphone 1.png" alt="image product main" />
  </div>
</div>
<app-home-collection-available />
