<div class="container-create-product">
  <h2>Form for add product</h2>
  <form class="container-form-create-product">
    <div class="container-property-product">
      <label>url img</label>
      <input type="url" placeholder="url img" class="property-product" />
    </div>
    <div class="container-property-product">
      <label>title</label>
      <input type="text" placeholder="title" class="property-product" />
    </div>
    <div class="container-property-product">
      <label>rating initial</label>
      <input
        type="number"
        placeholder="rating initial"
        class="property-product"
      />
    </div>
    <div class="container-property-product">
      <label>preview price</label>
      <input
        type="number"
        placeholder="preview price"
        class="property-product"
      />
    </div>
    <div class="container-property-product">
      <label>new price</label>
      <input type="number" placeholder="new price" class="property-product" />
    </div>
    <div class="container-property-product">
      <label>company</label>
      <input type="text" placeholder="company" class="property-product" />
    </div>
    <div class="container-property-product">
      <label>color</label>
      <input type="color" placeholder="color" class="property-product" />
    </div>
    <div class="container-property-product">
      <label>category</label>
      <select class="property-product">
        <option>Select category</option>
        <option>sneakers</option>
      </select>
    </div>
  </form>
</div>
